.generate {
    &__container {}

    &__row {}

    &__button {
        width: 100%;
        user-select: none;
        height: 50px;
        margin: 10px 0;
        border-radius: 8px;
        color: #fff;
        background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
        letter-spacing: 1px;
        font-weight: 800;
        cursor: pointer;
        transition: all 150ms ease 0s;
        &:active {
            transform: translateY(-3%);
            box-shadow: 0 4px 8px rgba(255, 255, 255, 0.08);
        }
    }
}
