.password {
    margin-bottom: 20px;
    &__container {}

    &__row {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 5px;
        padding: 10px 5px;
    }

    &__field {
        position: relative;
        text-align: center;
    }
    &__generate {
        font-size: 16px;
        line-height: 340%;
        color: #fff;
        @media(max-width: 380px) {
            font-size: 12px;
        }
    }
    &__btn {
        position: absolute;
        color: #fff;
        bottom: -5px;
        font-size: 12px;
        cursor: pointer;
        &.copied {
            left: 0;
        }
        &.copy {
            right: 0;
        }
    }
}


    
